html {
   height:100%;
}

:root {
    --main-color: DarkRed;
    --second-color: DarkKhaki;
    --table-color-1: DarkSeaGreen;
    --table-color-2: Aquamarine;
    --table-color-3: LightSkyBlue;
    --table-color-4: LightSlateGrey;
    --table-color-5: PowderBlue;
    --table-color-6: PaleGreen;
    --table-color-7: DarkSeaGreen;
    --table-color-8: DarkGrey;
    --table-color-9: Silver;
    --table-color-10: DimGray;
    --table-color-11: DarkKhaki;
}

body {
    display:flex;
   justify-content:center;
   height: 100%;
    background: Khaki;
    color: var(--main-color);
    background-image: url("/image/background1.jpg");
    background-size: 100%;
    }

h3 {
    text-align: center;
    }

h2 {
    text-align: center;
}

a:link {
    color: var(--main-color);
    text-decoration: none;
    }

a:visited {
    color: var(--main-color);
    text-decoration: none;
    }

a:hover {
    color: var(--main-color);
    text-decoration: none;
    background: Olive;
    transition: color 1.5s ease-in,
     background 1s ease-in;
    }

a:active {
    color: Crimson;
    text-decoration: none;
    font-size: large;
    }
ul {
    font-style: italic;
    text-align: center;
    }


input[type=password]{
   width: 97%;
   border-top-left-radius: 12px;
   margin-left: 2px;
   margin-right: 2px;
}

input[type=submit]{
   width: 100%;
   border-top-left-radius: 12px;
   border-color: var(--main-color);
   margin-left: 2px;
   margin-right: 2px;
}

input[type=number]{
   width: 97%;
   border-top-left-radius: 12px;
   border-color: var(--main-color);
   margin-left: 2px;
   margin-right: 2px;
}

input[type=datetime-local]{
   min-width: 40%;
   width: 97%;
   border-top-left-radius: 12px;
   border-color: var(--main-color);
   margin-left: 2px;
   margin-right: 2px;
}

textarea {
    min-width: 40%;
   width: 97%;
   border-top-left-radius: 12px;
   border-color: var(--main-color);
   margin-left: 2px;
   margin-right: 2px;
}


.tr_password {
    min-width: 25%;
    border-color: var(--main-color);
}
