html {
   height:100%;
}


body {
    display:flex;
    justify-content:center;
    height: 100%;
    background: Khaki;
    color: MidnightBlue;
    background-image: url("/image/background0.jpg");
    background-size: 100%;
    }

h3 {
    text-align: center;
    }

a:link {
    color: DarkSlateGrey;
    text-decoration: none;
    }

a:visited {
    color: DarkSlateGrey;
    text-decoration: none;
    }

a:hover {
    color: Purple;
    text-decoration: none;
    background: DarkKhaki;
    transition: color 1.5s ease-in,
     background 1s ease-in;
    }

a:active {
    color: DarkSlateGrey;
    text-decoration: none;
    font-size: large;
    }

ul {
    font-style: italic;
    text-align: center;
    }

li.faq_question {
    color: MidnightBlue;
    font-style: normal;
}

li.faq_question > ul {
    color: DarkSlateGray;
    font-style: italic;
}

h2 {
    text-align: center;
}


input[type=password]{
   width: 97%;
   border-top-left-radius: 12px;
   margin-left: 2px;
   margin-right: 2px;
}

input[type=submit]{
   width: 100%;
   border-top-left-radius: 12px;
   border-color: MidnightBlue;
   margin-left: 2px;
   margin-right: 2px;
}

input[type=number]{
   width: 97%;
   border-top-left-radius: 12px;
   border-color: MidnightBlue;
   margin-left: 2px;
   margin-right: 2px;
}

input[type=datetime-local]{
   min-width: 40%;
   width: 97%;
   border-top-left-radius: 12px;
   border-color: MidnightBlue;
   margin-left: 2px;
   margin-right: 2px;
}

.tr_password {
    min-width: 25%;
}

textarea {
    min-width: 40%;
   width: 97%;
   border-top-left-radius: 12px;
   border-color: MidnightBlue;
   margin-left: 2px;
   margin-right: 2px;
}