html {
   height:100%;
}

:root {
    --main-color: PaleVioletRed;
    --second-color: DarkOrange;
    --background: url('/image/background2.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

body {
    display:flex;
   justify-content:center;
   height: 100%;
    background: Khaki;
    color: var(--main-color);
    background-image: var(--background);
    background-size: 100%;
    }

@keyframes example {
  0% { transform: scale(1); }
  30% { transform: scale(1.2); }
  60% { transform: rotate(5deg); }
  90% { transform: rotate(-10deg);}
  100% {transform: rotate(5deg);}
}

@keyframes example2 {
  0% { transform: scale(1); }
  30% { transform: scale(1.25); }
  60% { transform: rotate(-180deg); }
  90% { transform: rotate(360deg);}
  100% {transform: rotate(5deg);}
}

h3 {
    text-align: center;
    animation: example 10s infinite;
    color: MediumVioletRed;
    }

h2 {
    text-align: center;
    animation: example 10s infinite;
    color: MediumVioletRed;
}

a:link {
    color: var(--main-color);
    text-decoration: none;
    }

a:visited {
    color: var(--main-color);
    text-decoration: none;
    }

a:hover {
    color: var(--main-color);
    text-decoration: none;
    -webkit-transform: rotate(5deg);
    transition: color 1.5s ease-in background 1s ease-in;
    }

a:active {
    color: Crimson;
    text-decoration: none;
    font-size: large;
    }

ul {
    font-style: italic;
    text-align: center;
    }


input[type=password]{
   width: 97%;
   background:#fff var(--background) repeat-x;
    -webkit-transform: skewX(-6deg);
   margin-left: 2px;
   margin-right: 2px;
   color: var(--main-color);
}

input[type=submit]{
   width: 100%;
   background:#fff var(--background) repeat-x;
   -webkit-transform: skewX(-6deg);
   color: var(--second-color);
   border-color: var(--main-color);
   margin-left: 2px;
   margin-right: 2px;
}

input[type=submit]:hover {
    -webkit-transition: ease-out 0.8s;
    box-shadow: inset 400px 0 0 0 var(--main-color);
}

input[type=number]{
   width: 97%;
   border-top-left-radius: 12px;
   border-color: var(--second-color);
   margin-left: 2px;
   margin-right: 2px;
}

input[type=datetime-local]{
   min-width: 40%;
   width: 97%;
   background:#fff var(--background) repeat-x;
   -webkit-transform: skewX(-6deg);
   border-color: var(--main-color);
   color: var(--second-color);
   margin-left: 2px;
   margin-right: 2px;
}

textarea {
    min-width: 40%;
   width: 97%;
   background:#fff var(--background) repeat-x;
   -webkit-transform: skewX(-6deg);
   border-color: var(--main-color);
   color: var(--second-color);
   margin-left: 2px;
   margin-right: 2px;
   scrollbar-color: var(--second-color) var(--main-color);
}


.tr_password {
    min-width: 25%;
    border-color: var(--main-color);
}
