html {
   height:100%;
}

body {
    display:flex;
   justify-content:center;
   height: 100%;
    background: Khaki;
    color: OrangeRed;
    background-image: url("/image/background2.jpg");
    background-size: 100%;
    }

@keyframes example {
  0% { transform: scale(1); }
  30% { transform: scale(1.2); }
  60% { transform: rotate(5deg); }
  90% { transform: rotate(-10deg);}
  100% {transform: rotate(5deg);}
}

h3 {
    text-align: center;
    animation: example 10s infinite;
    color: MediumVioletRed;
    }

h2 {
    text-align: center;
    animation: example 10s infinite;
    color: MediumVioletRed;
}

a:link {
    color: OrangeRed;
    text-decoration: none;
    }

a:visited {
    color: OrangeRed;
    text-decoration: none;
    }

a:hover {
    color: OrangeRed;
    text-decoration: none;
    -webkit-transform: rotate(5deg);
    transition: color 1.5s ease-in,
     background 1s ease-in;
    }

a:active {
    color: Crimson;
    text-decoration: none;
    font-size: large;
    }

ul {
    font-style: italic;
    text-align: center;
    }


input[type=password]{
   width: 97%;
   background:#fff url("/image/background2.jpg") repeat-x;
    -webkit-transform: skewX(-6deg);
   margin-left: 2px;
   margin-right: 2px;
}

input[type=submit]{
   width: 100%;
   background:#fff url("/image/background2.jpg") repeat-x;
   -webkit-transform: skewX(-6deg);
   color: DarkRed;
   border-color: OrangeRed;
   margin-left: 2px;
   margin-right: 2px;
}

input[type=number]{
   width: 97%;
   border-top-left-radius: 12px;
   border-color: DarkRed;
   margin-left: 2px;
   margin-right: 2px;
}

input[type=datetime-local]{
   min-width: 40%;
   width: 97%;
   background:#fff url("/image/background2.jpg") repeat-x;
   -webkit-transform: skewX(-6deg);
   border-color: OrangeRed;
   color: DarkRed;
   margin-left: 2px;
   margin-right: 2px;
}

textarea {
    min-width: 40%;
   width: 97%;
   background:#fff url("/image/background2.jpg") repeat-x;
   -webkit-transform: skewX(-6deg);
   border-color: OrangeRed;
   color: DarkRed;
   margin-left: 2px;
   margin-right: 2px;
   scrollbar-color: DarkRed OrangeRed;
}


.tr_password {
    min-width: 25%;
    border-color: OrangeRed;
}
