div.full_page {
    display: grid;
    #gap: 20px;
    #height: 100vh;

  /* ! */
    grid-template-areas:
        "A A A A   A A A A   A A A A"
        "B B B B   B B B B   B B B B";
}


div.main_table {
    grid-area: A;
}

div.bottom_navigation {
    grid-area: B;
    align-items: end;
}