div.full_page {
    display: grid;
    grid-template-areas:
        "A A A A   A A A A   A A A A"
        "B B B B   B B B B   B B B B";
}


div.main_table {
    grid-area: A;
}

div.bottom_navigation {
    grid-area: B;
    align-items: end;
}



/* Section for universal table */

/* For all N-columns table */
[class^=grid_table] {
    display: grid;
}

.grid_table_2 {
    grid-template-columns: 10% auto;
}

.grid_table_4 {
    grid-template-columns: repeat(4, auto);
}

.grid_table_5 {
    grid-template-columns: repeat(5, auto);
}

.grid_table_6 {
    grid-template-columns: repeat(6, auto);
}

.grid_table_7 {
    grid-template-columns: repeat(7, auto);
}

.grid_table_8 {
    grid-template-columns: repeat(8, auto);
}

.grid_table_9 {
    grid-template-columns: repeat(9, auto);
}

.grid_table_10 {
    grid-template-columns: repeat(10, auto);
}

.grid_table_11 {
    grid-template-columns: repeat(11, auto);
}

/* Section for element in table */
.grid_table_elem {
    display: flex;
    font-style: italic;
    border: 1px solid;
    -webkit-transform: skewX(3deg);
    margin: 2px;
    text-align: center;
}