<br>
<table id="pages_table">
    <tr>
        <td class="paging_td">
            <a href="{{link}}/{{first_page}}">&laquo;</a>
        </td>
        <td class="paging_td" title="page {{down_page}}">
            <a href="{{link}}/{{down_page}}">&lt</a>
        </td>
        {{interval1}}
        <td class="paging_td">
            ...
        </td>
        {{interval2}}
        <td class="paging_td">
            ...
        </td>
        {{interval3}}
        <td class="paging_td" title="page {{up_page}}">
            <a href="{{link}}/{{up_page}}">&gt</a>
        </td>
        <td class="paging_td">
            <a href="{{link}}/{{last_page}}">&raquo;</a>
        </td>
    </tr>
</table>