<br>
<div id="navigation_div">
    <div class="paging_elem">
        <a href="{{link}}/{{first_page}}" title="page {{first_page}}">&laquo;</a>
    </div>
    <div class="paging_elem">
        <a href="{{link}}/{{down_page}}" title="page {{down_page}}">&lt</a>
    </div>
    {{interval1}}
    ...
    {{interval2}}
    ...
    {{interval3}}
    <div class="paging_elem">
        <a href="{{link}}/{{up_page}}" title="page {{up_page}}">&gt</a>
    </div>
    <div class="paging_elem">
        <a href="{{link}}/{{last_page}}" title="page {{last_page}}">&raquo;</a>
    </div>
</div>