<?xml version="1.0"?>
<vars>
    <pathes>
        <path_to_project>/home/saibogo/PycharmProjects/work_history/</path_to_project>
        <path_to_pdf>/home/saibogo/Документы/report.pdf</path_to_pdf>
        <path_to_telegram_token>/home/saibogo/telegram_token.txt</path_to_telegram_token>
    </pathes>
    <database>
        <database_name>workhistory</database_name>
        <user_name>saibogo</user_name>
        <user_password>begemot100</user_password>
        <database_host>127.0.0.1</database_host>
        <database_port>5432</database_port>
    </database>
    <web>
        <ip_address>192.168.6.242</ip_address>
        <port>5000</port>
    </web>
    <web-interface>
        <max_records_in_page>10</max_records_in_page>
        <max_pages_in_tr>40</max_pages_in_tr>
        <!-->Use in JavaScript handler. Time in ms.<-->
        <timeout_message>300000</timeout_message>
        <!-->Max length session in seconds<-->
        <max_session_time>21600</max_session_time>
    </web-interface>
    <Qt>
        <start_width_qt>500</start_width_qt>
        <start_height_qt>220</start_height_qt>
        <max_width_for_date>7</max_width_for_date>
        <max_height_for_date>6</max_height_for_date>
    </Qt>
    <telegram>
        <!-->Auto delete messages from telegram bot in seconds<-->
        <telegram_delete_message_pause>7200</telegram_delete_message_pause>
    </telegram>
    <any>
    </any>
</vars>