body {
    background: Khaki;
    color: DarkRed;
    background-image: url("/image/background1.jpg");
    background-size: 100%;
    }

h1 {
    text-align: center;
    }

h3 {
    text-align: center;
    }

table {
    /*background: Khaki;*/
    border: 3px solid;
    margin: auto;
    border-top-left-radius: 10px;
    }

caption {
    color: Indigo;
    font-size: large;
    font-style: bold;
    margin-bottom: 10px;
    }

th {
    font-style: italic;
    border: 1px solid;
    border-top-left-radius: 10px;
    }

td {
    font-style: italic;
    border: 1px solid;
    border-top-left-radius: 10px;
    }

tr:nth-child(3n) {
    /*background-color: palegoldenrod;*/
    background-color: Plum;
    }

tr:nth-child(3n + 1) {
    background-color: DarkKhaki;
}

tr:nth-child(3n + 2) {
    background-color: Moccasin;
}

tr > :nth-child(3) {
    text-align: center;
}

tr > :nth-child(4) {
    text-align: center;
}

tr > :nth-child(5) {
    text-align: center;
}

a:link {
    color: DarkRed;
    text-decoration: none;
    }

a:visited {
    color: DarkRed;
    text-decoration: none;
    }

a:hover {
    color: DarkRed;
    text-decoration: none;
    background: Olive;
    transition: color 1.5s ease-in,
     background 1s ease-in;
    }

a:active {
    color: Crimson;
    text-decoration: none;
    font-size: large;
    }

ul {
    font-style: italic;
    text-align: center;
    }

table#pages_table {
    border: 0px;
    }

.paging_td {
    border: 0px;
    background-color: Gainsboro;
    border-radius: 0px;
    transform:rotate(-2deg);
    }

textarea {
    width: 98%;
    border-top-left-radius: 10px;
    }

table.navigation_menu {
    border: 0px;
    border-spacing: 10px;
}

td.navigation_bottom {
    border-radius: 20px;
}

input[type="text"], textarea {
  background-color: Moccasin;
}


input[type="password"], textarea {
  background-color: Moccasin;
}


input[type="datetime-local"] {
  background-color: Moccasin;
}

li.faq_question {
    color: Maroon;
    font-style: normal;
}

li.faq_question > ul {
    color: DarkSlateGray;
    font-style: italic;
}


