body {
    background: Khaki;
    color: MidnightBlue;
    background-image: url("/image/background0.jpg");
    background-size: 100%;
    }

h1 {
    text-align: center;
    }

h3 {
    text-align: center;
    }

table {
    /*background: Khaki;*/
    border: 3px solid;
    margin: auto;
    border-top-left-radius: 10px;
    }

caption {
    color: Navy;
    font-size: large;
    font-style: italic;
    margin-bottom: 10px;
    }

th {
    font-style: italic;
    border: 1px solid;
    border-top-left-radius: 10px;
    }

td {
    font-style: italic;
    border: 1px solid;
    border-top-left-radius: 10px;
    }

tr:nth-child(even) {
    /*background-color: palegoldenrod;*/
    background-image: url("/image/background0.jpg");
    }

tr > :nth-child(3) {
    text-align: center;
}

tr > :nth-child(4) {
    text-align: center;
}

a:link {
    color: DarkSlateGrey;
    text-decoration: none;
    }

a:visited {
    color: DarkSlateGrey;
    text-decoration: none;
    }

a:hover {
    color: Purple;
    text-decoration: none;
    background: DarkKhaki;
    transition: color 1.5s ease-in,
     background 1s ease-in;
    }

a:active {
    color: DarkSlateGrey;
    text-decoration: none;
    font-size: large;
    }

ul {
    font-style: italic;
    text-align: center;
    }

table#pages_table {
    border: 0px;
    }

.paging_td {
    border: 0px;
    }

textarea {
    width: 98%;
    border-top-left-radius: 10px;
    }

li.faq_question {
    color: MidnightBlue;
    font-style: normal;
}

li.faq_question > ul {
    color: DarkSlateGray;
    font-style: italic;
}

