<table>
    <caption>Зарегистрировать произведенные работы</caption>
    <tr>
        <th>ID оборудования</th>
        <th>Причина ремонта</th>
        <th>описание работ</th>
        <th>Дата и время</th>
        <th>Исполнители</th>
        <th>Пароль доступа</th>
        <th>Отправить</th>
    </tr>
    <form action="/add-work" method="post">
        <tr>
            <td>
                <input name="{{equip_id_name}}" value="{{equip_id}}" readonly>
            </td>
            <td>
                <textarea name="{{query}}" placeholder="Необязательно"></textarea>
            </td>
            <td>
                <textarea name="{{work}}" placeholder="Обязательно"></textarea>
            </td>
            <td>
                <input type="datetime-local" name="{{work_datetime}}" value="{{date_to_browser}}">
            </td>
            <td>
                <select  name="{{performer_name}}">
                    {% for performer in performers %}
                        <option value={{performer[0]}}>{{performer[2]}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="password" name="{{password}}"  placeholder="Обязательно">
            </td>
            <td>
                <input type="submit" value="Отправить">
            </td>
        </tr>
    </form>
</table>