<h2>зарегистрировать новое предприятие</h2>
<div class="container">
    <form action="/add-point" method="post">
        <div class="tr_div_new_point">
                <input name="{{point_name}}" placeholder="Служебное название" class="tr_area">
                <input name="{{point_address}}" placeholder="Адрес" class="tr_area">
                <input type="password" name="{{password}}" class="tr_password" placeholder="Обязательно">
                <input type="submit" value="Отправить">

        </div>
    </form>
</div>