<h2>Расширение списка исполнителей</h2>
<form action="/add-performer-result" method="post">
    <input type="hidden" name="{{work_id_name}}" value="{{work_id}}">
    <div class="container">
        {% for string in table %}
        <div class="tr_div_login">
            <div class="faq_quest">{{string[1]}}:</div>
            <div class="faq_answer">
                <div class="text_info">{{string[2]}}</div>
            </div>
        </div>
        {% endfor %}
        <div class="tr_div_login">
            <div class="faq_quest">Возможные исполнители:</div>
            <div class="faq_answer">
                <select name="{{performer}}" class="div_select">
                {% for worker in performers %}
                    <option value="{{worker[0]}}">{{worker[1]}}</option>
                {% endfor %}
            </select>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Пароль доступа:</div>
            <div class="faq_answer">
                <input type="password" name="{{password}}"  placeholder="Обязательно">
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Применить изменения:</div>
            <div class="faq_answer">
                <input type="submit" value="Добавить">
            </div>
        </div>
    </div>
</form>