<h2>Регистрация новых работ для данного оборудования</h2>
<form action="/add-work" method="post">
    <div class="container">
        <div class="tr_div_new_work">
            <input name="{{equip_id_name}}" value="{{equip_id}}" type="hidden" readonly>
            <textarea name="{{query}}" placeholder="Причина ремонта" class="tr_area"></textarea>
            <textarea name="{{work}}" placeholder="Состав работ" class="tr_area"></textarea>
            <input type="datetime-local" name="{{work_datetime}}" value="{{date_to_browser}}">
            <select  name="{{performer_name}}" class="tr_select">
                    {% for performer in performers %}
                        <option value={{performer[0]}}>{{performer[1]}}</option>
                    {% endfor %}
            </select>
            <input type="password" name="{{password}}" class="tr_password" placeholder="Пароль(Обязательно)">
            <input type="submit" value="Отправить">
        </div>
    </div>
</form>