<h2>Редактирование сведений об оборудовании</h2>
<form action="/upgrade-equip-info" method = "post">
    <input type="hidden" name="{{equip_id_name}}" value="{{equip[0]}}">
    <div class="container">
        <div class="tr_div_login">
            <div class="faq_quest">ID:</div>
            <div class="faq_answer">
                <div class="text_info">{{equip[0]}}</div>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Предприятие:</div>
            <div class="faq_answer">
                <div class="text_info">{{equip[1]}}</div>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Наименование:</div>
            <div class="faq_answer">
                <textarea name="{{equip_name}}">{{equip[2]}}</textarea>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Модель:</div>
            <div class="faq_answer">
                <textarea name="{{model}}">{{equip[3]}}</textarea>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Серийный номер:</div>
            <div class="faq_answer">
                <textarea name="{{serial_num}}">{{equip[4]}}</textarea>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Предыдущий ID:</div>
            <div class="faq_answer">
                <textarea name="{{pre_id}}">{{equip[5]}}</textarea>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Пароль доступа:</div>
            <div class="faq_answer"><input type="password" name="{{password}}"></div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest"></div>
            <div class="faq_answer"><input type="submit" value="Применить изменения"></div>
        </div>
    </div>
</form>