<h2>Регистрация нового оборудования для данного предприятия</h2>
<form action="/add-equip" method="post">
    <div class="container">
        <div class="tr_div_new_equip">
            <input name="{{point_id_name}}" value="{{point_id}}" type="hidden" readonly>
            <input name="{{equip_name}}"  placeholder="Наименование (Обязательно)" class="tr_area">
            <input name="{{model}}" placeholder="Модель (Если есть)" class="tr_area">
            <input name="{{serial_num}}" placeholder="Серийник (Если есть)" class="tr_area">
            <input name="{{pre_id}}" placeholder="Предыдущий ID(Если есть)" class="tr_area">
            <input type="password" name="{{password}}" class="tr_password" placeholder="Пароль(Обязательно)">
            <input type="submit" value="Отправить">
        </div>
    </div>
</form>