<h2>Смена пароля для Заказчика</h2>
<form action="/common-change-customer-password" method="post">
    <input type="hidden" name="{{customer_id_name}}" value="{{customer_id}}">
    <div class="container">
        <div class="tr_div_login">
            <div class="faq_quest">ВНИМАНИЕ:</div>
            <div class="faq_answer">Для смены пароля необходимо либо знать предыдущий пароль,
                либо быть Администратором системы! Сменить пароль для заблокированного пользователя Нельзя!</div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">ВНИМАНИЕ:</div>
            <div class="faq_answer">Старый и новый пароль не могут совпадать!
                При удачной смене пароля от текущего Заказчика будет осуществлен автоматический выход из системы</div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Задайте пароль(Минимум 5 любых символов)</div>
            <div class="faq_answer">
                <input name="{{password_1}}" type="password" class="tr_area" pattern="\S{5,}">
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Повторите пароль(Минимум 5 любых символов)</div>
            <div class="faq_answer">
                <input name="{{password_2}}" type="password" class="tr_area" pattern="\S{5,}">
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Пароль администратора</div>
            <div class="faq_answer">
                <input type="password" name="{{password}}" class="tr_password" placeholder="Пароль(Обязательно)">
            </div>
        </div>

        <div class="tr_div_login">
            <div class="faq_quest">

            </div>
            <div class="faq_answer">
                <input type="submit" value="Отправить">
            </div>
    </div>
</form>