
<h2>Наиболее частые вопросы по системе:</h2>

<div id="faq_div">
    <div class="faq_tr">
        <div class="faq_quest">Что нужно для использования системы?</div>
        <div class="faq_answer">{{hardware}}</div>
    </div>
    <div class="faq_tr">
        <div class="faq_quest">С использованием каких технологий написана система?</div>
        <div class="faq_answer">{{tecnology}}</div>
    </div>
    <div class="faq_tr">
        <div class="faq_quest">Сколько пользователей поддерживает система?</div>
        <div class="faq_answer">{{multiuser}}</div>
    </div>
    <div class="faq_tr">
        <div class="faq_quest">Планируется ли развитие системы?</div>
        <div class="faq_answer">{{update}}</div>
    </div>
    <div class="faq_tr">
        <div class="faq_quest">Сколько записей зарегистрированно на данный момент?</div>
        <div class="faq_answer">
            <ul>
                {% for record in records %}
                <li>{{record}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="faq_tr">
        <div class="faq_quest">Текущий размер базы данных</div>
        <div class="faq_answer">{{database_size}}</div>
    </div>
    <div class="faq_tr">
        <div class="faq_quest">Среднее количество работ на смену</div>
        <div class="faq_answer">{{average_works_in_date}}</div>
    </div>

</div>