<h2>Поиск оборудования по уникальному ID</h2>
<form action="/select-equip-to-id" method="post">
    <div class="container">
        <div class="tr_div_login">
            <div class="faq_quest">Введите ID</div>
            <div class="faq_answer">
                <input type="number" name="id" min="0" max="{{max_equip_id}}">
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Искать</div>
            <div class="faq_answer">
                <input type="submit" value="Найти">
            </div>
        </div>
    </div>
</form>