<h2>Поиск заявки по уникальному ID</h2>
<form action="/select-order-from-id" method="post">
    <div class="container">
        <div class="tr_div_login">
            <div class="faq_quest">Введите ID (от 1 до {{max_order_id}})</div>
            <div class="faq_answer">
                <input type="number" name="{{order_id_name}}" min="1" max="{{max_order_id}}">
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Искать</div>
            <div class="faq_answer">
                <input type="submit" value="Найти">
            </div>
        </div>
    </div>
</form>