<table>
    <caption>Встроенная поисковая система</caption>
    <tr>
        <th>Примечание к поиску</th>
        <th>Строка поиска</th>
        <th>Где искать</th>
        <th>Дата от(Только для работ)</th>
        <th>Дата до(Только для работ)</th>
        <th>Отправить</th>
    </tr>
    <form action="/findresult" method="post">
        <tr>
            <td>
                <input name="{{comment}}" value="Введите строку поиска.(Регистр символов не важен)" readonly>
            </td>
            <td>
                <input name="{{find_request}}"  placeholder="Обязательно">
            </td>
            <td>
                <select name="{{find_in_table}}">
                    <option selected value="{{works}}">В работах</option>
                    <option selected value="{{works_ignored_date}}">В работах не учитывая дату</option>
                    <option value="{{works_points}}">В предприятиях</option>
                    <option value="{{equips}}">В оборудовании</option>
                </select>
            </td>
            <td>
                <input type="datetime-local" name="{{work_datetime_start}}" value="{{date_to_browser}}">
            </td>
            <td>
                <input type="datetime-local" name="{{work_datetime_stop}}" value="{{date_to_browser}}">
            </td>
            <td>
                <input type="submit" value="Отправить">
            </td>
        </tr>
    </form>

</table>