<h2>Встроенная система поиска</h2>
<form action="/findresult" method="post">
    <div class="tr_div_login">
        <div class="faq_quest">Примечание:</div>
        <div class="faq_answer">
            <div class="text_info">Регистр символов не важен</div>
        </div>
    </div>
    <div class="tr_div_login">
        <div class="faq_quest">Строка поиска:</div>
        <div class="faq_answer">
            <input name="{{find_request}}"  placeholder="Обязательно" required="required">
        </div>
    </div>
    <div class="tr_div_login">
        <div class="faq_quest">Раздел поиска:</div>
        <div class="faq_answer">
            <select name="{{find_in_table}}" class="div_select">
                    <option selected value="{{works}}">В работах</option>
                    <option selected value="{{works_ignored_date}}">В работах не учитывая дату</option>
                    <option value="{{works_points}}">В предприятиях</option>
                    <option value="{{equips}}">В оборудовании</option>
                    <option value="{{performer}}">По исполнителю без учета даты</option>
                    <option value="{{performer_with_date}}">По исполнителю с учетом даты</option>
                </select>
        </div>
    </div>
    <div class="tr_div_login">
        <div class="faq_quest">Дата от(Только для работ):</div>
        <div class="faq_answer">
            <input type="datetime-local" name="{{work_datetime_start}}" value="{{date_to_browser}}">
        </div>
    </div>
    <div class="tr_div_login">
        <div class="faq_quest">Дата до(Только для работ):</div>
        <div class="faq_answer">
            <input type="datetime-local" name="{{work_datetime_stop}}" value="{{date_to_browser}}">
        </div>
    </div>
    <div class="tr_div_login">
        <div class="faq_quest">Искать</div>
        <div class="faq_answer">
            <input type="submit" value="Отправить">
        </div>
    </div>
</form>