<table class="navigation_menu">
    <caption>Навигация</caption>
    <tr>
        <td class="navigation_bottom">
            <a href="{{pre_html}}">В предыдущее меню</a>
        </td>
        <td class="navigation_bottom">
            <a href="{{address}}">Главное меню</a>
        </td>
        <td class="navigation_bottom">
            <a href="mailto:gleykh@malachite.ru">Обратная связь</a>
        </td>
        <td class="navigation_bottom">
            <a href="{{address}}/FAQ?page={{request_url}}">Частые вопросы</a>
        </td>
        <td class="navigation_bottom">
            <a href="{{address}}/find">Поиск</a>
        </td>
        <td class="navigation_bottom">
            <a href="{{address}}/statistics">Статистика</a>
        </td>
        <td class="navigation_bottom">
            <a href="{{address}}/system-status">Статус системы</a>
        </td>
        {% if to_pdf %}
            <td class="navigation_bottom">
                <a href="{{address}}/table-to-pdf/{{current_adress}}">Сохранить в PDF</a>
            </td>
        {% else %}
        {% endif %}
    </tr>
</table>