<h2>Изменение статуса предприятия</h2>
<form action="/invert-point-status" method="post">
    <div class="tr_div_login">
        <div class="faq_quest">ID</div>
        <div class="faq_answer">{{point[0]}}</div>
    </div>
    <input type="hidden" name="{{point_id}}" value="{{point[0]}}"/>
    <div class="tr_div_login">
        <div class="faq_quest">Служебное название</div>
        <div class="faq_answer">{{point[1]}}</div>
    </div>
    <div class="tr_div_login">
        <div class="faq_quest">Адрес</div>
        <div class="faq_answer">{{point[2]}}</div>
    </div>
    <div class="tr_div_login">
        <div class="faq_quest">Статус</div>
        <div class="faq_answer">{{point[3]}}</div>
    </div>
    <div class="tr_div_login">
        <div class="faq_quest">Пароль</div>
        <div class="faq_answer">
            <input type="password"  name="{{password}}" placeholder="Обязательно" required/>
        </div>
    </div>
    <div class="tr_div_login">
        <div class="faq_quest">Изменить статус</div>
        <div class="faq_answer"><input type="submit" value="Изменить"></div>
    </div>
</form>