<style>
		ol {
			list-style: none;
			counter-reset: li;
		}
		ol>li:before {
			counter-increment: li;
			content: counters(li,".") ". ";
			color: brown;
			font-weight: bold;
		}
        ul>li {
            text-align: left;
        }
	</style>

<h3>Инструкция по использованию портала для рядового пользователя.</h3>

<p>Содержание</p>
<ol>
    <li><a href="#id1"><b>Назначение системы</b></a></li>
    <li><a href="#id2"><b>Каким образом можно использовать систему</b></a></li>
    <li><a href="#id3>"><b>Доступ к системе</b></a></li>
    <li><a href="#id4"><b>Краткая правовая информация</b></a></li>
    <li><a href="#id5"><b>Структура главного меню</b></a></li>
    <li><a href="#id6"><b>Структура нижней панели навигации</b></a></li>
</ol>

<ol>
    <li id="id1">Назначение системы
        <p>Данная система разрабатывалась для нужд технической службы Екатеринбургского отделения компании "Малахит"
            и предназначена для хранения и сбора информации следующего характера:</p>
        <ol>
            <li>Текущем составе технической службы, статусе сотрудников и их графиках</li>
            <li>Хранения общей техничсекой информации об осьслуживаемых предприятиях</li>
            <li>Хранения информации об эксплуатируемом оборудовании, историй его ремонта и перемещений</li>
            <li>Хранения вспомогательной информации об оборудовании, как то деталировки и инструкции</li>
            <li>Хранения информации о зарегистрированных и выполненных заявках</li>
            <li>Хранения информации о выполненных работах и составе бригад, их выполнявших</li>
            <li>Хранения информации об установленных приборах учета, истории их показаний(в отдельных случаях и профили мощности).
            Также для некоторых пользователей доступен расчет текущего потребления согласно имеющимся схемам расчета по приборам учета</li>
        </ol>
    </li><br>

    <li id="id2">Возможные способы использования системы
        <p>Существует два основных способа использовать портал:</p>
        <ol>
            <li>
                Компьютер, подключенный к внутренней сети компании(т.е. обладающий необходимым IP адресом).
                Важно помнить что поддерживаются не все браузеры(<a href="#id5"><b>см. Пункт Главное меню</b></a>)
            </li>
            <li>
                Любое устройство с установленным Telegram. Важно помнить, что данный способ не обеспечивает Полной функциональности браузерного варианта
            </li>
        </ol>
    </li><br>

    <li id="id3">Получение доступа к системе
        <p>Система не предусматривает автоматическое создание нового пользователя. Более того следует понимать, что с точки зрения
        програмного комплекса, доступ через браузер и доступ через Telegram - это доступ РАЗНЫХ пользователей. Поэтому
        в зависимости от того, как именно вы хотите использовать портал первоначальный доступ можно получить следующими способами:</p>
        <ol>
            <li>
                Придумать уникальный логин и пароль в соотвествии с требованиями соотвествующего раздела. Далее обратиться к администратору системы
                сообщив ему и первое и второе с просьбой зарегистрировать новую учетную запись для доступа через браузер
            </li>
            <li>
                Подключить в Telegram бот MalachiteWorksBot. Далее необходимо попросить администратора системы подключить новую учетную запись.
                Системный администратор попросит Вас отправить некое сообщение данному боту после чего сможет увидеть ваш идентификатор и внести его в базу данных
            </li>
            <li>
                Важно помнить, что часть функций портала доступна БЕЗ регистрации(например просмотр текущего графика сотрудников)
            </li>
        </ol>
    </li><br>

    <li id="id4">Краткая правовая информация
        <p>Програмный комплекс разработан Глейх Андреем Артуровичем и распространяется под лицензией GPL v.2.0. Допускается любое
        коммерческое или некоммерческое использование програмного комплекса при предоставлении ссылочной информации на исходный код, автора и исходный репозиторий
        Програмного обеспечения. Все используемые в дальнейших расщирениях програмного комплекса должны быть совместимы с исходной лицензией</p>
    </li><br>

    <li id="id5">Главное меню веб-версии портала
        <p>Главное меню содержит нижеперечисленные пункты. Важно помнить, что в данном ПО реализована система разделения прав пользователей,
        что означает доступность либо недоступность каждого пункта меню для разного типа пользователей. Также следует помнить, что даже если
         конкретный пункт меню вам доступен, это не означает, что будут доступны все пунты вложенного меню либо все вложенные действия</p>
        <ol>
            <li><a href="#id5_1"><b>Операции с предприятиями</b></a></li>
            <li><a href="#id5_2"><b>Операции с оборудованием</b></a></li>
            <li><a href="#id5_3"><b>Операции с ремонтами</b></a></li>
            <li><a href="#id5_4"><b>Операции с сотрудниками</b></a></li>
            <li><a href="#id5_5"><b>Баг-трекер системы</b></a></li>
            <li><a href="#id5_6"><b>Заявки и заказчики</b></a></li>
            <li><a href="#id5_7"><b>Изменить тему оформления</b></a></li>
            <li><a href="#id5_8"><b>Изменения в системе</b></a></li>
            <li><a href="#id5_9"><b>Вспомогательные сервисы</b></a></li>
            <li><a href="#id5_10"><b>Инструкция</b></a></li>
            <li><a href="#id5_11"><b>Выйти из системы</b></a></li>
        </ol>
        <br>
        <ol>
            <li id="id5_1">Операции с предприятиями
                <p>Данный пункт меню позволяет просматривать информацию по зарегистрированным в данное время предприятиям, а также при необходимости добавлять новые
                либо менять статус уже существующих. При нажатии на данный пункт будет открыто меню для работы с предприятиями, содержащее следующие подпункты:</p>
                <ol><p>Действия с предприятиями:</p>
                    <li><b>Все предприятия</b> - список всех предприятий, зарегистрированных в системе</li>
                    <li><b>Только действующие</b> - аналогично предыдущему, но предприятия либо функционируют, либо находятся на реконструкции</li>
                    <li><b>Добавить предприятие</b> - только для администратора. Переход к меню регистрации нового предприятия</li>
                    <li><b>TOP-10 по количеству ремонтов</b> - небольшая статистика по количеству ремонтов на предприятиях</li>
                    <p>Важно уточнить - с точки зрения программы существует три вида предприятия:</p>
                    <ul>
                        <li><b>Независимое</b>, т.е. состоящее ровно из одного обьекта</li>
                        <li><b>Комплекс</b> - то есть включающее в себя два и более предприятий</li>
                        <li><b>В составе комплекса</b> - то есть являющееся частью комплекса</li>
                    </ul>
                </ol>

            </li>
            <li id="id5_2">Операции с оборудованием
                <p>Данный пункт меню позволяет просматривать информацию по всем единицам зарегистрированного оборудования, а также работать с деталировками и инструкиями для оного</p>
                <ol><p>Действия с оборудованием</p>
                    <li><b>Все зарегистрированное оборудование</b> - Все единицы или группы оборудования, когда либо регистрировавшиеся в системе</li>
                    <li><b>Поиск по ID</b> - поиск оборудования по уникальному идентификатору</li>
                    <li><b>TOP-10 по ремонтам</b> - Краткая статистика по наиболее часто ремонтируемому оборудованию</li>
                    <li><b>Работа с деталировками</b> - переход в подменю для работы с типами оборудования, деталировками и инструкциями</li>
                </ol>

            </li><br>
            <li id="id5_3">Операции с ремонтами
                <p>Данный пункт меню содержит всего два подпункта: <i>Все зарегистрированные работы</i> и <i>Поиск работы по ID</i>.
                Собственно первый пункт переключает вас на таблицу со всеми, когда либо зафиксированными в журнале работами. Каждая выполненная работа
                имеет свой уникальный идентификатор  - ID. Соотвественно если вы знаете данный ID, то можете переключиться не на весь перечень,
                а на строго определенную запись</p>
            </li><br>
            <li id="id5_4">Операции с сотрудниками
                <p>Данный пункт меню позволяет просматривать всю необходимую служебную информацию по сотрудникам технической службы а также добавлять новых</p>
                <ol><p>Действия с сотрудниками</p>
                    <li><b>Все зарегистрированные сотрудники</b> - список всех когда либо зарегистрированных сотрудников техслужбы</li>
                    <li><b>Только работающие</b> - то же, что предыдущий пункт но без учета уволенных</li>
                    <li><b>TOP-10 по зарегистрированным работам</b> - небольшая статистика по произведенным работам</li>
                    <li><b>Добавить сотрудника</b> - только для администратора системы. Позволяет зарегистрирвоать нового сотрудника</li>
                    <li><b>Сотрудники на смене</b> - открывает меню с текущими и архивными графиками сотрудников</li>
                </ol>
            </li>
            <br>
            <li id="id5_5">Баг-трекер системы
                <p>Данный пункт главного меню предназначен для хранения информации обо всех выявленных пользователями проблемах при работе системы</p>
                <ol><p>Некорректное поведение системы</p>
                    <li><b>Отобразить все</b> - Список всех выявленных проблем, независимо от их статуса</li>
                    <li><b>Отобразить незакрытые</b> - Список всех нерешенных на данный момент проблем</li>
                    <li><b>Зарегистрировать проблему</b> - Авторизоваться и зарегистрировать новую проблему</li>
                </ol>
            </li>
            <br>
            <li id="id5_6">Заявки и заказчики
                <p>Данный пункт предназначен для создания, хранения и отображения всей доступной информации как о самих заявках, так и о тех,
                кто имеет право работать с заявками. Далее приведено краткое описание подпунктов</p>
                <ol><p>Действия с заявками</p>
                    <li><b>Все заказчики</b> - только для администратора. Позволяет корректировать данные заказчиков</li>
                    <li><b>Добавить заказчика</b> - только для администратора. Позволяет создать нового заказчика</li>
                    <li><b>Все зарегистрированные заявки</b> - список всех когда либо созданных заявок</li>
                    <li><b>Только незакрытые заявки</b> - список заявок по всем предприятиям находящихся в работе</li>
                    <li><b>Поиск по ID</b> - поиск в системе заявки с уникальным идентификатором</li>
                    <li><b>Зарегистрировать заявку</b> - создать новую заявку от текущего пользователя. Внимание, требуется авторизация</li>
                    <li><b>Только мои заявки</b> - список незакрытых заявок, принадлежащих данному пользователю, либо всех незакрытых если
                    пользователь является администратором системы</li>

                </ol>
            </li>
            <br>
            <li id="id5_7">Изменить тему оформления
                <p>Данный пункт предназначен для изменения визуальной составляющей отображаемой страницы. Всего на данный момент
                доступны три темы оформления. Последовательное нажатие на данный пункт меню приведет к смене данной составляющей.
                Доступно только после авторизации.</p>
            </li>
            <br>
            <li id="id5_8">Изменения в системе
                <p>Данный пункт открывает таблицу, отображающую все зарегистрированные изменения в системе с указанием
                    версии ПО и даты внедрения изменений</p>
            </li>
            <br>
            <li id="id5_9">Вспомогательные сервисы
                <p>Данный пункт переводит вас в подменю, в котором собрано все, что не имеет непосредственного отношения
                к изначальным целям системы.</p>
                <ol><p>Доступные сервисы</p>
                    <li><b>Планируемые отключения электроэнергии</b> - Открывает пользователю таблицу с планируемыми отключениями электроэнергии
                    по данным компаний Россети-Урал и Екатеринбургэнергосбыт. Отбор ведется по исходным шаблонам, указанным в нижней части страницы. Внимание - при
                    переходе возникнет пауза, связанная с загрузкой и анализом исходных данных!</li>
                    <li><b>Приборы учета</b> - Перечень всех приборов учета, фигурирующих в системе. Внимание - приборы учета не разнесены по предприятиям!</li>

                </ol>
            </li>
            <br>
            <li id="id5_10">Инструкция
                <p>Данный пункт переводит вас в раздел Инструкция. Данный раздел подразделен соотвественно на инструкции для
                Рядового Пользователя, Системного Администратора и Разработчика</p>
            </li>
            <br>
            <li id="id5_11">Выйти из системы
                <p>Данный пункт закрывает текущую авторизацию пользователя. Крайне рекомендуется выполнять эту операцию на
                компьютерах, к которым есть доступ нескольких сотрудников. Принудительный выход из системы осуществляется через шесть
                часов отсутствия активности пользователя в системе</p>
            </li>
        </ol>
        <br>
        <li id="id6">Структура нижней панели навигации
            <p>Данная панель включается опционально для разных страниц и она всегда расположена в нижней части страницы</p>
            <ol>
                <li><b>В предыдущее меню</b> - данный пункт переводит вас на ту страницу, которая УСТАНОВЛЕНА для текущей как изначальная.
                    Внимание - данный пункт не равноценен нажатию кнопки браузера НАЗАД.
                </li>
                <br>
                <li><a href="#id5"><b>Главное меню</b></a> - переключает вкладку на главное меню программы
                </li>
                <br>
                <li><b>Обратная связь</b> - открывает установленный почтовый клиент, либо вкладку с почтовой программой по умолчанию,
                    для создания сообщения разработчику программы
                </li>
                <br>
                <li><b>Частые вопросы</b> - открывает вкладку с перечнем простых вопросов и ответов по системе
                </li>
                <br>
            </ol>

        </li>
    </li>

</ol>