<h2>Редактирование отчета о работах</h2>
<form action="/update-work-to-id/{{work_id}}" method="post">
    <div class="container">
        <div class="tr_div_login">
            <div class="faq_quest">ID:</div>
            <div class="faq_answer">
                <div class="text_info">{{work_id}}</div>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Предприятие:</div>
            <div class="faq_answer">
                <div class="text_info">{{works_info[1]}}</div>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Оборудование:</div>
            <div class="faq_answer">
                <div class="text_info">{{works_info[2]}}</div>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Модель:</div>
            <div class="faq_answer">
                <div class="text_info">{{works_info[3]}}</div>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Серийный номер:</div>
            <div class="faq_answer">
                <div class="text_info">{{works_info[4]}}</div>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Окончание работ:</div>
            <div class="faq_answer">
                <input type="datetime-local" name="work_datetime" value="{{works_info[5]}}">
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Содержимое заявки:</div>
            <div class="faq_answer">
                <textarea rows=3 name="{{order_info}}">{{works_info[6]}}</textarea>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Описание произведенных работ:</div>
            <div class="faq_answer">
                <textarea rows=6 name="{{description}}">{{works_info[7]}}</textarea>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Перечень исполнителей:</div>
            <div class="faq_answer">
                <div class="text_info">{{works_info[8]}}</div>
            </div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest">Пароль администратора:</div>
            <div class="faq_answer"><input type="password" name="{{password}}"></div>
        </div>
        <div class="tr_div_login">
            <div class="faq_quest"></div>
            <div class="faq_answer"><input type="submit" value="Применить изменения"></div>
        </div>
    </div>
</form>