{% if not_corrected %}
    <h1>Ошибка соответствия таблицы и заголовка!</h1>
{% else %}
    <table border="1">
        <thead>
            <tr>
                {% for column_name in header %}
                    <th>{{column_name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for elem in row %}
                        <td>{{elem}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}