<div id="navigation_div">
    <div class="navigation_elem"><a href="{{pre_html}}">В предыдущее меню</a></div>
    <div class="navigation_elem"><a href="{{address}}">Главное меню</a></div>
    <div class="navigation_elem"><a href="mailto:gleykh@malachite.ru">Обратная связь</a></div>
    <div class="navigation_elem"><a href="{{address}}/FAQ?page={{request_url}}">Частые вопросы</a></div>
    <div class="navigation_elem"><a href="{{address}}/find">Поиск</a></div>
    <div class="navigation_elem"><a href="{{address}}/statistics">Статистика</a></div>
    <div class="navigation_elem"><a href="{{address}}/system-status">Статус системы</a></div>
    {% if to_pdf %}
        <div class="navigation_elem"><a href="{{address}}/table-to-pdf/{{current_adress}}">Сохранить в PDF</a></div>
    {% else %}
    {% endif %}
</div>